.navbar-color {
    background-color: #563d7c;
}

.navbar-text-color {
    color: white !important;
}

.navtabs {
    padding : 0.5rem;
}

.navtabs:hover:not(.active) {
    background-color: #eee;
    color: black !important;
    border-radius: 5px;
}

.active {
    background-color: white;
    color: black !important;
    border-radius: 5px;
}